
/* --- layout.css --- */

/* 
http://www.barelyfitz.com/screencast/html-training/css/positioning/ 
*/
.clr { clear: both; }

html {
	height: 100%;
	width: 100%;
}	
body {	
	margin: 0;
	padding: 0;
	text-align: center; 
}
body div#wrapper { text-align: left; margin:0 auto; }
body.width_small	div#wrapper { width:780px; }
body.width_medium	div#wrapper { width: 950px; }
body.width_fluid	div#wrapper {
	min-width: 780px;
	max-width: 1260px;
}

/*
#lay_header, #lay_footer, #lay_top, #lay_main 
	{ min-width:780px;}
*/

.fixed {min-width: 780px; margin: 0 auto; padding: 0; }

#lay_footer {
	text-align: center;
}

#lay_bottom {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;	
}

/* Fix div p, unwanted margin */
div#lay_main p, div#lay_header p, div#lay_footer p, 
div#lay_top p, div#lay_top h3 {
	margin:0 .25em;
	padding:.25em 0;
}

#lay_header_container {
	position:relative;
}
#lay_header_right {	
	padding-right: 10px;
}

#lay_header_left {float: left;	padding-top: 24px; margin-left: 20px;}
#lay_header_right {float:right;}

/* Top Layout */
#lay_top_left, #lay_top_center, #lay_top_right {
	padding-top: 5px;
}
#lay_top_left {
	float:left;
	max-width:350px;	
	bottom: 0;
}
#lay_top_center, #lay_top_right { 
	float:right;
	width:300px;
}

.pos_col3 #lay_top_left { max-width: 350px; }
.pos_col2 #lay_top_left { max-width: 645px; }
.pos_col1 #lay_top_left { max-width: 940px; }

@media print {
	#lay_header, #lay_top, #lay_footer, #lay_right, #lay_left, 
	#container-message, #container-console,
	.no-print
		{ display:none; }
		
	#lay_content { 
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen {
/* Main Layout */

#lay_main {
	text-align: left;
	/*position:relative;	ie6 problem, do not uncomment */
	padding: 10px 0 10px 0;
}

#lay_main  { min-height:400px; } * html #lay_main { height:400px; } /*ie6*/
* html #main_content { width: 97%; }

#lay_left {
	float:left;
	width:180px;
	margin-left: 10px;
}
#lay_content { 
	margin-left:190px;
	margin-right:190px;
	padding-left: 20px;
	padding-right: 20px;	
	min-width:380px; 
}
#lay_right {
	float:right;
	width:180px;
	margin-right: 10px;
}

#main_content {
	float: left;	/* fix clear scope */
}

.pos_c #lay_content {
	margin-left: 10px;
	margin-right: 10px;
}

.pos_lcr  #lay_left, .pos_lc #lay_left {
	float:left;
	margin-left: 10px;
}
.pos_lcr #lay_right, .pos_cr #lay_right {
	float:right;
	margin-right: 10px;
}

.pos_lcr #lay_content {
	margin-left: 190px;
	margin-right: 190px;
}

.pos_lc #lay_content {
	margin-left: 190px;
	margin-right: 10px;
	padding-right: 10px;	
}

.pos_cr #lay_content {
	margin-left: 10px;
	margin-right: 190px;
	padding-left: 10px;	
}

.pos_rcl #lay_left, .pos_cl #lay_left {
	float:right;
	margin-right: 10px;
}
.pos_rcl #lay_right, .pos_rc #lay_right {
	float:left;
	margin-left: 10px;
}

.pos_rcl #lay_content {
	margin-left: 190px;
	margin-right: 190px;
}

.pos_cl #lay_content {
	margin-left: 10px;
	margin-right: 190px;
	padding-left: 10px;		
}

.pos_rc #lay_content {
	margin-left: 190px;
	margin-right: 10px;
	padding-right: 10px;	
}

.pos_lrc #lay_left, .pos_lrc #lay_right,
.pos_rlc #lay_left, .pos_rlc #lay_right {
	float:left;
	margin-left: 10px;
}

.pos_rlc #lay_left { margin-left: 0px; }

.pos_lrc #lay_content,
.pos_rlc #lay_content {
	min-width:360px; 
	margin-left: 380px;
	margin-right: 10px;
	padding-right: 10px;	
}

.pos_clr #lay_left, .pos_clr #lay_right,
.pos_crl #lay_left, .pos_crl #lay_right {
	float:right;
	margin-right: 10px;
}
.pos_crl #lay_right { margin-right: 10px; }	/* list-style arrow space */

.pos_clr #lay_content,
.pos_crl #lay_content {
	margin-left: 10px;
	margin-right: 380px;
	padding-left: 10px;		
}

/* end of media screen */
}

/* --- template.css --- */

/* Base */
body {	background: #FFF; }
form { margin: 0; padding: 0; }
img {border: none; margin: 0;}
select, label, .pointer { cursor:pointer; }

/* layout related */

#lay_header {
	border-top: 2px solid #0095CC;
	height: 120px;
}

#lay_header_left {padding-left: 15px; }
#lay_header_right li {float: right; margin-left: 30px;}

#lay_top {
	background: #000 url(../images/template/grad-black.png) repeat-x;	
	border-top:1px solid #fff;
	border-bottom: 2px solid #007eae;
	text-align:left;	
}
.grad_blue #lay_top {
	background: #08f url(../images/template/grad-blue.png) repeat-x;
}
.grad_orange #lay_top {
	background: #f80 url(../images/template/grad-orange.png) repeat-x;
}

#lay_main p {padding: 3px 0 4px;}

#lay_footer {
	border-top: 2px solid #007eae;
	background: #fff url(../images/template/shade.gif) repeat-x;
	text-align:center;
	padding:5px 0 5px 0;
	bottom: 0;
}

#lay_left .moduletable ul li:hover,
#lay_right .moduletable ul li:hover 
	{ list-style: square outside url(../images/accs/arrowbullet-blue.png);	}

#lay_header_left { color: #222; }
.hbg_grey_blue #lay_header_left, 
.hbg_red #lay_header_left,
.hbg_red_gloss #lay_header_left {color: white;}

.hbg_blue #lay_header 
	{	background:url(../images/header/blue.jpg) bottom repeat-x;	}
.hbg_yellow #lay_header 
	{	background:url(../images/header/yellow.jpg) bottom repeat-x;	}	
.hbg_grey_blue #lay_header 
	{	background:url(../images/header/grey-blue.jpg) bottom repeat-x;	}
.hbg_blue_tutor #lay_header 
	{	background:url(../images/header/orig-tut.jpg) bottom repeat-x;	}	
.hbg_olive #lay_header 
	{	background:url(../images/header/olive.jpg) bottom repeat-x;	}
.hbg_orange #lay_header 
	{	background:url(../images/header/orange.jpg) bottom repeat-x;	}
.hbg_red #lay_header 
	{	background:url(../images/header/red.jpg) bottom repeat-x;	}
.hbg_red_gloss #lay_header 
	{	background:url(../images/header/red-gloss.jpg) bottom repeat-x;	}
.hbg_yellow_orange #lay_header 
	{	background:url(../images/header/yellow-orange.jpg) bottom repeat-x;	}
	
.mbg_black #lay_main 
	{ background: #222; }
.mbg_white #lay_main 
	{ background: #fff url(../images/template/shade.gif) repeat-x; }	
.mbg_feathers 
	{ background: #fff url(../images/pattern/feathers.gif) fixed; }	
.mbg_strolling 
	{ background: #fff url(../images/pattern/strolling.png) fixed; }	
.mbg_p159 
	{ background: #fff url(../images/pattern/159.gif); }
.mbg_p129 
	{ background: #fff url(../images/pattern/squidfinger-pattern_129.gif); }
.mbg_echeveria
	{ background: #fff url(../images/pattern/dinpattern-echeveria.gif); }

.hbg_grey_blue #menumatic a { color: white; }

/* Logo */

.logo { position:relative;	left:20px;	top:20px; z-index: 9; float: left; }
#logo-makara {	width: 80px;	height: 80px;	background: url(../images/logo/makara.png) no-repeat top left; }
#logo-makara-anim {	width: 80px;	height: 80px;	background: url(../images/logo/makara-anim.gif) no-repeat top left; }
#logo-imm {	width: 212px;	height: 142px;	background: url(../images/logo/imm.gif) no-repeat top left; }
#logo-iluni-ftui {	width: 180px;	height: 100px;	background: url(../images/logo/iluni-ftui.png) no-repeat top left; }
#logo-orb-yellow {	width: 80px;	height: 80px;	background: url(../images/logo/orb-spiral-yellow.png) no-repeat top left; }
#logo-orb-blue {	width: 80px;	height: 80px;	background: url(../images/logo/orb-spiral-blue.png) no-repeat top left; }


/* sitecorner */
#sitecorner { position: relative; }
#sitecorner a {
	background: transparent url(../images/sitecorner/pita-iluni2.gif) no-repeat scroll right top !important;
	cursor:pointer;
	position:absolute;
	right:0pt;
	top:0pt;	
	height:100px;
	width:100px;	
	text-decoration:none;
	text-indent:-999em;
}

/* --- typography.css --- */

@font-face {
	font-family: 'Titillium Maps';
	src: url("../fonts/TitilliumMaps29L002.eot");
	src: local('Titillium Maps'), local('TitilliumMaps'), 
		url("../fonts/TitilliumMaps29L002.otf") format("opentype"), 
		url("../fonts/TitilliumMaps29L002.woff") format("woff");
    font-family: Diavlo;
	src: url(../fonts/Diavlo_MEDIUM_II_37.otf) format("opentype");
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
}

#lay_content { 
	font-size: 13px; 
}	

/* Heading */

/* http://webdesign.about.com/od/beginningcss/a/aa092107.htm */

h1,h2,h3,h4,h5,h6 {
	margin-bottom:10px;
 	font-family: Diavlo, Georgia, times, serif;
	_font-family: Georgia, times, serif;
}

.contentheading,
h1 { font-size: 28px; margin-bottom: 25px; }
h2 { font-size: 24px; margin-bottom: 20px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; margin-bottom: 15px; }
h5 { font-size: 14px; margin-bottom: 0; }
h6 { font-size: 12px; margin-bottom: 0; }

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover 
	{ border-bottom:1px dashed #CCC;}

h1 {padding-bottom: 8px;}
h3 {border-bottom:1px dotted #CCC;}

#lay_header_left h1#sitename a {
	font-style: italic;
  	font-weight:bold;  	
}

h2.doc_title {
	font-family: Diavlo, Arial, Geneva, Helvetica, sans-serif; 
	_font-family: Arial, Geneva, Helvetica, sans-serif; 	
	font-size: 20px;
	text-shadow: #ccc 2px 2px 1px;		
	margin: 0px;
}
h2.doc_title:hover { 
	text-shadow: black 1px 1px 2px;	
}

.breadcrumbs,
.moduletable h3,	
.moduletable_text h3,
.moduletable_menu h3 { 
	font-family:  Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight : normal;
}
#lay_top h3 { 
	border: none; 
	font-size: 1.5em; 
	line-height: 14px;
}

#lay_top a:link { text-transform: capitalize; }
#lay_top a:hover { text-decoration: blink; }


a { text-decoration: none;}
a:hover { text-decoration: underline;}

#lay_header a {text-decoration: none; } 
#lay_header a:hover {text-decoration: underline;}




/* --- scheme.css --- */

/* Joomla */
.inputbox {	color : #888; }

input#mod-search-searchword 
	{ 	color: #ccc;	}

.breadcrumbs a:hover,
#lay_main .moduletable h3,
.moduletable_text h3,	
.moduletable_menu h3 {
	color : #666;
}

/* docs */
#lay_content ul li:hover,
#lay_content ol li:hover { color: #000; }

.small, .modifydate, .createdate { color: #777;  }

table.contenttoc a:link, table.contenttoc a:visited { color : #666; }

#lay_content table.contenttoc a:hover,
table.contenttoc a:hover { color: #222; }

table.contenttoc th { color : #444; }

/* Layout */

#lay_top h3,
#lay_top { color: #fff; }
#lay_top a { color: #888; }
#lay_top a:visited { color: #ccc; }
#lay_top a:link { color: #ccc; }
#lay_top a:hover { color: #08b; }

.grad_orange #lay_top h3,
.grad_orange #lay_top { color: #222; }
.grad_orange #lay_top a { color: #444; }
.grad_orange #lay_top a:visited { color: #044; }
.grad_orange #lay_top a:link { color: #044; }
.grad_orange #lay_top a:hover { color: #0fa; }

.grad_blue #lay_top h3,
.grad_blue #lay_top { color: #fff; }
.grad_blue #lay_top a { color: #888; }
.grad_blue #lay_top a:visited { color: #ccc; }
.grad_blue #lay_top a:link { color: #ccc; }
.grad_blue #lay_top a:hover { color: #0fa; }


#lay_header { color: #fff; }
#lay_header a {color: #6bd; } 
#lay_header a:hover {color: #FFF; }

#lay_footer { color: #444; }

#lay_header_left h1#sitename a {
	color: #ffee66;	
    text-shadow: 3px 3px 7px black; 
}


/* --- joomla15.css --- */

.hasTip img,
.buttonheading img {border: none; margin: 0;}

.componentheading {
	background-repeat : no-repeat;
	font-size : 18px;
	font-weight : normal;
	padding : 6px 0px 5px 35px;
	margin : 2px;
}
.contentheading {
	background-repeat : no-repeat;
	font-size : 16px;
	font-weight : bold;
	padding : 6px 0px 5px 32px;
	margin : 2px;
}

@media print {
	.componentheading,
	.contentheading {
		padding : 6px 0px 5px 0px;
	}
	.buttonheading { display:none; }
}

.contentpaneopen .buttonheading { opacity: 0.5; }
.contentpaneopen:hover .buttonheading { opacity: 1; }

.contentdescription  {
	padding-bottom: 10px; 
}


/* ie6, seen in login.php */
#lay_content .pos_lcr .button {  margin-left: 2px; } 


/* CSS 3, FF 3.5, mess with joomla title filter 
form tr:nth-child(odd) { background-color:#fff; }
form tr:nth-child(even) { background-color:#eee; }
*/

/* module specific */

table.poll,
table.pollstableborder {
	padding : 0;
	width : 100%;
}

table.pollstableborder td {
	text-align : left; /* ie */
	line-height: 14px;
	padding : 5px 2px 0px 2px;
}

.pollstableborder tr td { border-bottom: 1px dotted #ccc; }

/* module_text :: mittwoch css */
.bannerheader {
	font-size : 12px;
	font-weight : bold;
	padding-left : 5px;
}
.banneritem_text {
	padding : 2px 5px 2px 5px;
}
.bannerfooter_text {
	padding : 2px 5px 2px 5px;
	font-size : 12px;
	font-weight : bold;
}
.banneritem_text a:hover { text-transform: uppercase; }

/* bottom */
.mostread li,
.latestnews li {
    list-style-type: none;
}
.mostread li a,
.latestnews li a {
    border-bottom: 1px dotted #666;
    display:       block;
}

.mostread li a:hover,
.latestnews li a:hover {
    border-bottom: 1px solid #0076a2;
}

ul.mostread li,
ul.latestnews li {
    padding:     2px 2px 5px 0px;
    margin-left: 0px;
    width:       auto;
    text-align:  left;
}

/* anchor/link */
.moduletable_menu a {
	color: #222;
}
.moduletable_menu a:link,
.moduletable_menu a:visited {
	color: #444;
}


/* --- joomla16.css --- */

/**
 */

/* not ready */

/* ##########################  general  ########################### */

/* ##########################  header content  ########################### */

/* ##########################  fontsize  ########################### */

/* ##########################  breadcrumbs  ########################### */

/* ##########################  navigation column  ########################### */

/* ++++++++++++++  first level  ++++++++++++++ */

/* ++++++++++++++  second level  ++++++++++++++ */

/* ++++++++++++++  third level  ++++++++++++++ */

/* ##########################  main  ########################### */

/* ++++++++++++++  main general  ++++++++++++++ */

/* ++++++++++++++  columns  ++++++++++++++ */

/* ++++++++++++++  top  ++++++++++++++ */

/* ++++++++++++++  leading  ++++++++++++++ */

/* ++++++++++++++  readmore  ++++++++++++++ */

/* ++++++++++++++  details  ++++++++++++++ */

.article-info {
	margin:10px 0 10px 0px;
	font-size:0.9em;
}

.article-info-term { display:none }

dt.category-name,
dt.create,
dt.modified,
dt.createdby
{
	float:left;
	padding-right:5px;
}

.archive .article-info dd,
.article-info dd {
	margin:2px 0 0px 0;
	line-height:1.2em
}

dd.createdby {}

.article-info dd span
{
	text-transform:none;
	display:inline-block;
	padding:0 5px 0 0px;
	margin:0 10px 0 0px;
}

/* ++++++++++++++  icons  ++++++++++++++ */

#main_content ul.actions { text-align:right; padding:0; width:100%; margin:0 }
#main_content ul.actions li { display:inline }
#main_content ul.actions a { text-decoration:none }

/* ++++++++++++++  items more  ++++++++++++++ */

/* ++++++++++++++  pagination  ++++++++++++++ */

#main_content .pagination
{
        margin:10px 0 ;
        padding:10px 0 10px 0px;

}

#main_content .pagination ul
{
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
}

#main_content .pagination li
{
        display:inline;
        padding:2px 5px;
        text-align:left;
        border:solid 1px #eee;
        margin:0 2px
}

.pagenav
{padding:2px}

#main_content .pagination li.pagination-start,
#main_content .pagination li.pagination-next,
#main_content .pagination li.pagination-end,
#main_content .pagination li.pagination-prev
{border:0}

#main_content .pagination li.pagination-start ,
#main_content .pagination li.pagination-start  span
 {
padding:0

}
p.counter
{
        font-weight:bold;
}

/* ##########################  right  ########################### */

/*  ####################   forms   #####################  */

/* ########################## search ############################ */

/* ++++++++++++++  selects  ++++++++++++++ */

/* ++++++++++++++  search results  ++++++++++++++++++ */

/* ########################### contacts ########################### */

/* ##########################  user profile  ########################### */

/*#################### tables ############################ */

/* ++++++++++++++  category table  ++++++++++++++ */

/* #################### footer ############################ */

/* ++++++++++++++  Error Message contact form  ++++++++++++++ */

/* ++++++++++++++  editor  ++++++++++++++ */

/* ++++++++++++++  pagebreak  ++++++++++++++ */

/* ++++++++++++++  edit  ++++++++++++++ */

/* ++++++++++++++  tooltip  ++++++++++++++ */

/* #################### modules ############################ */

/* ++++++++++++++  newsflash  ++++++++++++++ */

/* newsflash horizontal */

/* newsflash vertical */

/* ++++++++++++++  banner  ++++++++++++++ */

/* ++++++++++++++  latest, popular  ++++++++++++++ */

/* ++++++++++++++  newsflash  ++++++++++++++ */

/* ++++++++++++++  newsfeed  ++++++++++++++ */

/* ++++++++++++++  weblinks  ++++++++++++++ */

/* ++++++++++++++  login  ++++++++++++++ */

/* ++++++++++++++  tabs/ slide  ++++++++++++++ */

/* ++++++++++++++  random  ++++++++++++++ */

/* ++++++++++++++  content-module ++++++++++++++ */

/*-------------------------------*/

/* ###########  Categories list ############ */

/* mod stats  */

/* pagebreak */

/* mailto window */

/* for the spacer field*/

/* ++++++++++++++  news feeds direction ++++++++++++++ */

/* --- module.css --- */

/* list in menu */
.moduletable_menu ul.menu li.active,
.moduletable_menu ul.menu li li.active
	{	list-style-image:url(../images/accs/arrow.gif) ; }
.moduletable_menu ul.menu li:hover,
.moduletable_menu ul.menu li li:hover,
.moduletable_menu ul.menu li.active:hover,
.moduletable_menu ul.menu li li.active:hover
	{	list-style-image:url(../images/accs/li1.gif) ; }	
	
/* mittwoch clone of background images */
#gloss {
	border : 1px solid #e3e3e3;
}

#lay_main .moduletable h3,
.moduletable_text h3,
.moduletable_menu h3 {
	border : 1px solid #e3e3e3;
}

.moduletable_menu ul.menu li,
.moduletable_menu ul.menu li li {
	border : 1px solid #eee;
}
.moduletable_menu ul.menu li {
	border-right : 5px solid #dd6;
}
.moduletable_menu ul.menu li li {
	border-left : 5px solid #dd6;
}
.moduletable_menu ul.menu li.active,
.moduletable_menu ul.menu li li.active {
	border-left : 5px solid #88f;
}
.moduletable_menu ul.menu li:hover,
.moduletable_menu ul.menu li li:hover {
	border-left : 5px solid #f80; 
}


.moduletable_menu ul.menu li a span {
	background : none;
}
.moduletable_menu ul.menu li.active a span {
	background : none;
}
.moduletable_menu ul.menu li li a span {
	background : none;
}

/* inspired by mittwoch */

#gloss {
	height : 24px;
	margin: 0px 5px 4px 5px;
}

.breadcrumbs {
	overflow : hidden;
	display : block;
	height : 24px;
	line-height : 24px;
	float : left;
	padding-left : 10px;
}
.breadcrumbs a:hover {
	text-decoration : none;
}

/* menu and module */
#lay_main .moduletable,	
.moduletable_text,
.moduletable_menu {
	margin-bottom: 10px;
	margin-left: 10px;
}
#lay_main .moduletable h3,
.moduletable_text h3,	
.moduletable_menu h3 {
	text-align : right;
	height : 24px;
	line-height : 24px;
	padding-right : 10px;
	margin : 0 0 3px 0;
}

.moduletable_menu ul.menu li a,
.moduletable_menu ul.menu li li a {
	height : 24px;
	list-style : none;
	display : block;
	vertical-align : middle;
	font-size : 11px;
	text-align : left;
	padding : 0px 6px 0 10px;
	text-decoration : none;
}
.moduletable_menu ul.menu,
.moduletable_menu ul.menu li,
.moduletable_menu ul.menu li ul,
.moduletable_menu ul.menu li li  {
	margin : 0;
	padding : 0;
}

.moduletable_menu ul.menu li {
	line-height : 22px;	
	margin-bottom : 2px;
}
.moduletable_menu ul.menu li li {
	line-height : 22px;	
	margin-bottom : 2px;	
}

.moduletable_menu ul.menu li li a span {
	list-style : none;
}
.moduletable_menu ul.menu li ul {
	padding-top : 8px;
	margin-left : 3px;	
	margin-right : 3px;	
}

/* --- component.css --- */

/* input */

.login { padding-top: 10px; }

.login-fields {
	margin:10px 0
}

.login-fields label {
	float:left;
	width:100px;
}

.login-fields input {
	background:#fff url(../images/template/shade.gif) repeat-x;
}

.profile-edit input,
input#search-searchword,
input#mod-search-searchword,
.login-fields input {
	border:solid 1px #bbb;
	padding:3px;
	padding-left: 16px; /* 20px */	
	height: 16px;
	font-size: 11px;
}

.login-fields input:hover {
	background:#ddd;
}


input#mod-search-searchword 
	{ background: #666 url(../images/input/magnify-antsorin.gif) no-repeat top left; }
input#mod-search-searchword:focus 
	{ background: #444 url(../images/input/magnify-sarxos.gif) no-repeat bottom left; }

.login-fields input#username
	{ background: #fdfefe url(../images/silk/user.png) no-repeat bottom left; }
.login-fields input#username:focus 
	{ background: #fafbfb url(../images/silk/user_suit.png) no-repeat bottom left; }

.login-fields input#password
	{ background: #fdfefe url(../images/silk/key.png) no-repeat bottom left; }
.login-fields input#password:focus 
	{ background: #fafbfb url(../images/silk/asterisk_orange.png) no-repeat bottom left; }


/* --- messages.css --- */

/* Template specific */
#lay_content dl#system-message ul li,
#lay_content dl#system-message ul li:hover { list-style-image: none; padding: 0; }
#lay_content dl#system-message ul li:hover { background: transparent; border:none; }

/* System Messages */
#system-message    { margin-bottom: 10px; padding: 0;}
#system-message dt { font-weight: bold; font-size: 11px; }
#system-message dd { margin: 0; font-weight: bold; }
#system-message dd ul { 
	color: #05b; 
	margin-bottom: 10px;
	list-style: none; 
	padding: 10px; 
	padding-left: 40px;
	border-top: 3px solid #84A7DB; 
	border-bottom: 3px solid #84A7DB;

	-moz-box-shadow: #888 3px 3px 5px;
	-webkit-box-shadow: #888 3px 3px 5px;
	box-shadow: 3px 3px 5px #888;
}
#system-message li { background-image : none; }

/* System wide notification */
#system-message dt { display: none; }
#system-message dd.okay ul { 
	color: #c00; border-bottom: 3px solid #F0DC7E; border-top: 3px solid #F0DC7E; }
	
/* System Standard Messages */
#system-message dd.message ul { 
	background: #cde url(../images/accs/msg-info.gif) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { 
	color: #c00; border-bottom: 3px solid #fc0; border-top: 3px solid #fc0;
	background: #fea url(../images/accs/msg-error.gif) 4px top no-repeat; }

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #c00; border-bottom: 3px solid #F0DC7E; border-top: 3px solid #F0DC7E;
	background: #eeb url(../images/accs/msg-warning.gif) 4px top no-repeat; }

/* Custom Okay Messages */
#system-message dd.okay ul { 
	background: #beb url(../images/accs/msg-okay.gif) 4px top no-repeat;  }

/* --- docs.css --- */

/* com_content ::  */

#main_content li li,
#main_content .pagination li {
	background: transparent;
}

#main_content li li:hover,
#main_content .pagination li:hover { 
	background: #ff8; 
	border: solid 1px #888;
}

/* com_content :: article */


/* content pane open */
.post_pane	{ 
	background: url(../images/accs/trans.png); 
	-webkit-border-radius:10px; 
	-moz-border-radius:10px; 
	border-radius:10px; 	
	padding: 3px 10px;	
	margin-bottom: 10px;
}

/* postmetadata */
.post .avatar {
	float: right;
	margin-right: 6px;
	width: 42px;
	height: 42px;
	border: none;
}

.post_box {}

.post_meta {
	color: #888;
	padding-bottom: 10px;
}

.icon_comments,
.icon_cat, 
.icon_tag, 
.icon_attachment, 
.icon_edit, 
.icon_edit_go,
.icon_email,
.icon_print_popup,
.icon_print_screen,
.icon_author,
.icon_time,
.icon_feed,
.icon_hits {
	margin: 0;
	padding: 0 14px 0 24px;
	line-height: 20px;
	background-position: top left;
	background-repeat: no-repeat;
	/*white-space:nowrap;*/
	float: left;
}

.icon_comments		{	background-image: url(../images/silk/comments.png);	}
.icon_cat 			{	background-image: url(../images/silk/folder.png);	}
.icon_tag 			{	background-image: url(../images/silk/tag_yellow.png);	}
.icon_edit 			{	background-image: url(../images/silk/pencil.png);	}
.icon_edit_go		{	background-image: url(../images/silk/pencil_go.png);	}
.icon_email			{	background-image: url(../images/silk/email.png);	}
.icon_print_popup	{	background-image: url(../images/silk/printer_empty.png);	}
.icon_print_screen	{	background-image: url(../images/silk/printer.png);	}
.icon_author 		{	background-image: url(../images/silk/user.png);	}
.icon_time 			{	background-image: url(../images/silk/date.png);	}
.icon_attachment 	{	background-image: url(../images/silk/attach.png);	}
.icon_feed		 	{	background-image: url(../images/silk/feed.png);	}
.icon_hits		 	{	background-image: url(../images/silk/eye.png);	}

.icon_cat a:hover, 
.icon_tag a:hover { 
	border: 1px solid lightgreen; 
	padding: 2px;
	-webkit-border-radius:7px; 
	-moz-border-radius:7px; 
	border-radius:7px; 	
}

/* button */
div.generic-button a {
	border: 1px solid #ddd;
	padding: 3px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	color: #888;
	font-size: 12px;
	font-weight: normal;
	vertical-align: bottom;
	cursor: pointer;	
}

/* com_content :: article */

.items-more a:hover,
.doc_main a:hover { text-decoration: underline blink; }

/* Unordered list */
ul li, .doc_main ul li {list-style: none; }
ul li:hover { list-style-image: url(../images/accs/li2.gif);	}

.items-more ol li,
.category-list ul li {
	margin-top: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.doc_main ul	{	
	margin: 0px 5px 3px 10px;
	padding-left: 20px; 
}

.doc_main ul li { background: transparent; }
.doc_main ul li:hover { background: #ff8; border:1px solid #fc0;}

.doc_main ul li  {padding-left : 3px;} 
.doc_main ul li:hover {padding-left : 9px;} 

.doc_main ul li { list-style-image: url(../images/accs/arrowbullet-yellow.png);	}
.doc_main ul li:hover { list-style-image: url(../images/accs/arrowbullet-blue.png);	}

/* Ordered list */

.category-list ul li,
.items-more ol li,
.doc_main ol li 
	{	background: transparent url(../images/accs/arrowbullet-yellow.png) no-repeat left 2px; }

.category-list ul li:hover,
.items-more ol li:hover,
.doc_main ol li:hover
	{	background: #ff8 url(../images/accs/arrowbullet-blue.png) no-repeat 4px 2px; 
	 	border:1px solid #fc0; }

.category-list li,
.items-more li,
.doc_main li {padding-left : 13px;} 
.category-list li:hover,
.items-more li:hover,
.doc_main li:hover {padding-left : 19px;} 

/* com_content */
.small, .modifydate, .createdate {
	padding: 5px 0px 5px 0px;	
	font-style: italic;
	font-size: 90%;
}

/* Table of Content :: mittwoch css */

.pagenavcounter {
	height: 16px;
	padding-left : 20px;
	background: url(../images/accs/toc.png) no-repeat; 
}

table.contenttoc {
	font-size : 11px;
	border : 1px solid #fc0;
	background: #ff8;
	padding : 2px;
	margin-left : 10px;
	margin-bottom : 10px;
	float : right;
}
.toclink {
	padding: 4px;
}
.contentpaneopen table.contenttoc a:hover,
table.contenttoc a:hover {
	text-decoration : underline blink;	
}
table.contenttoc td {
	padding : 2px;
	margin : 2px;
}
table.contenttoc td:hover {
	background-color: #ff0;
}
table.contenttoc th {
	font-size : 110%;
	font-weight : normal;
	
	text-align : left;
	padding : 5px;
	margin : 5px;
	
	padding-left : 20px;	
	background: #fd8 url(../images/icons/toc.png) no-repeat 2px 4px;	
}


/* readon */
p.readmore a { padding : 2px 5px 2px 5px; }
.button	{ padding : 2px 1px 2px 1px; }
p.readmore a, .button {
	background-color : #f8fbfd;
	text-align : center;
	font-size : 10px;
	border : 3px double #e3e3e3;
	margin : 2px;
}
p.readmore a	{ text-decoration: none; }
p.readmore a:hover, .button:hover {
	border : 3px double #dedfdf;
	text-decoration: blink;
	font-weight: bold;
}

p.readmore a { color : #222; }
p.readmore a:hover, p.readmore a:link, p.readmore a:visited { color: #444; text-decoration: none; }

.item-separator {
	clear : both;
	display : block;
	border-bottom : 1px dashed #b0b0b0;
	margin-bottom: 3px;
	padding-bottom: 5px;
}

/* subcat */
.cat-children li {
	position:relative;
}
.cat-children dl {
	position:absolute;
	top:0px;
	right:0px;
	margin-right: 10px;
}	
.cat-children dl dt,
.cat-children dl dd {
	display: inline;
} 

.cat-children dl dd {
	font-style: italic;
}

/* --- position.css --- */


/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.column-1,
.column-2,
.column-3
{
        padding:10px 5px
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
} 

/* --- calendar.css --- */

/*--calendar-icon--*/

.calendar {
	float: left;
	margin-right: 6px;
	width: 42px;
	height: 42px;
}

.calendar-day {
	font-weight: bold;
	font-size: 1.3em;
	color: #000;
	width: 42px;
	text-align:center;
	padding-top: 14px;
}

.calendar-icon-01 	{ background: url(../images/calendar/01.gif);	}
.calendar-icon-02 	{ background: url(../images/calendar/02.gif);	}
.calendar-icon-03 	{ background: url(../images/calendar/03.gif);	}
.calendar-icon-04 	{ background: url(../images/calendar/04.gif);	}
.calendar-icon-05 	{ background: url(../images/calendar/05.gif);	}
.calendar-icon-06 	{ background: url(../images/calendar/06.gif);	}
.calendar-icon-07 	{ background: url(../images/calendar/07.gif);	}
.calendar-icon-08 	{ background: url(../images/calendar/08.gif);	}
.calendar-icon-09 	{ background: url(../images/calendar/09.gif);	}
.calendar-icon-10 	{ background: url(../images/calendar/10.gif);	}
.calendar-icon-11 	{ background: url(../images/calendar/11.gif);	}
.calendar-icon-12 	{ background: url(../images/calendar/12.gif);	}

/* --- background.css --- */

.post_box { clear: both; margin: 10px; padding: 10px;}

.post_box {
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px; 

	background-color: transparent;
	background-repeat: repeat-x;
	background-position: top;
}

.post-bg-00  { background-image: none;	}
.post-bg-01  { background-image: url(../images/shade/olive.jpg);	}
.post-bg-02  { background-image: url(../images/shade/red.jpg);	}
.post-bg-03  { background-image: url(../images/shade/orange.jpg);	}
.post-bg-04  { background-image: url(../images/shade/blue.jpg);	}
.post-bg-05  { background-image: url(../images/shade/brown.jpg);	}
.post-bg-06  { background-image: url(../images/shade/yellow.jpg);	}
.post-bg-07  { background-image: url(../images/shade/olive.jpg);	}
.post-bg-08  { background-image: url(../images/shade/red.jpg);	}
.post-bg-09  { background-image: url(../images/shade/orange.jpg);	}
.post-bg-10  { background-image: url(../images/shade/blue.jpg);	}
.post-bg-11  { background-image: url(../images/shade/grey.jpg);	}
.post-bg-12  { background-image: url(../images/shade/yellow.jpg);	}

/* --- hmenu.css --- */

#tabmenu_left, #tabmenu_right, #tabmenu_center { float: right; }

#tabsearch, #tabmenu, #tabmenu_left, #tabmenu_right, #tabmenu_center, #tabmenu_center li 
	{ height:40px; }
#tabmenu_center, #tabmenu_center li, #tabmenu_center li a
	{ line-height:40px; }
	
#tabmenu li:hover { list-style: none; }	

#tabmenu { padding-top: 30px; }

#tabmenu_center ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#tabmenu_center li {
	float: left;
	margin: 0;
	padding: 0;
}
#tabmenu_center li a {
	font-size: 1.3em;
	float: left;
	display: block;
	margin: 0;
	padding: 0 10px 0 10px;	
	font-weight: normal;
}

#tabmenu_center li a { color:#eee; text-decoration: none; }
#tabmenu_center li a:hover { color:#fff; text-decoration: blink; }
li a#active_menu-nav {	color:#ff0; }


#tabmenu_left{
	width: 6px;
	float:right;
	background: url(../images/menu-top/left.gif) top left no-repeat;
}
#tabmenu_right{
	width: 6px;
	float:right;
	background: url(../images/menu-top/right.gif) top right no-repeat;
}
#tabmenu_center li {}
#tabmenu_center li:hover {}
#tabmenu_center li a {}
#tabmenu_center li a:hover {
	background: transparent url(../images/menu-top/pointer-yellow.gif) top center no-repeat;
}






/* --- effects.css --- */

/* http://mootools.net/docs/more/Interface/Spinner */
.spinner {
	position: 'absolute';
	opacity: 0.9;
	filter:alpha(opacity=90);
	zIndex: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url('../images/effects/spinner.gif') no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

/* http://davidwalsh.name/mootools-watermark */
#gototop { 
	display:none; position:fixed; right:5px; bottom:5px; 
	color:green; text-decoration:underline;
	border:1px solid green; background:Lightgreen; padding:10px; 
}

/* http://davidwalsh.name/hidden-accessibility-message-using-css */
.accessibility { position: absolute; left: -9999px; font-size: small; }

/* http://davidwalsh.name/css-page-breaks  */

@media all
{
	.page-break	{ display:none; }
}

@media screen {
	.page-break	{ 
		height:10px; 
		background:url(../images/notmine/page-break.gif) 0 center repeat-x; 
		border-top:1px dotted #999; 
		margin-bottom:13px; 
	}
}

@media print
{
	.page-break	{ 
		display:block; page-break-before:always; 
		margin:0; 
		border-top:none; 
	}
	.contentpaneopen a:after {	content: " [" attr(href) "] "; font-size: 90%;	}
	p.readmore a:after { content: none;	}
}

/* http://davidwalsh.name/peel-effect */
.moo12demo #tabsearch { padding-right: 45px; }

#page-flip { 
	position:relative; right:0; top:0; float:right; z-index:40;
}
#page-flip-image { 
	width:50px; height:52px; 
	z-index:49; position:absolute; 
	right:0; top:0; 
	-ms-interpolation-mode:bicubic; 
}
#page-flip-message { 
	width:50px; height:50px; 
	overflow:hidden; position:absolute; 
	right:0; top:0; 
	background:url(../images/notmine/subscribe.png) no-repeat right top; 
}



input[type=submit],label,select,.pointer	{ cursor:pointer; }

/* http://davidwalsh.name/advanced-css-links-spice-up-your-links */
a[href$='.pdf'] { 
	padding:0 20px 0 0; 
	background:transparent url(..images/accs/pdf-button.png) no-repeat center right; 
}


/* CSS3: http://davidwalsh.name/animate-opacity */
.login_opacity fieldset{
	-webkit-border-radius:15px; 
	-moz-border-radius:15px; 
	border-radius:15px; 
	padding:20px; 
	
	border: 1px dashed #ccc;
	background: #fff; 
	
	opacity: 1;
}
.login_opacity fieldset:hover { 
	opacity: 0.9;
	/* -moz-opacity:.90; */
	filter:alpha(opacity=90);
}

/* http://davidwalsh.name/mootools-shake */
#system-message {}

/* http://davidwalsh.name/external-favicon */
.favicon { 
	background-repeat:no-repeat; 
	padding:2px 0 3px 22px; 
	border-bottom: 1px dotted #ccc;
}

/* http://davidwalsh.name/dw-content/mootools-skype.php */
p.readmore a { position:relative; }
.skypebutton {
	width: 32px;
	height: 32px;
	background: transparent url(../images/accs/tick.gif);
	position:absolute;
	top:-8px;
	left:-12px;
	border:none;
}

/* http://davidwalsh.name/simple-mootools-accordion */
h5#gloss {	height : 24px;	line-height : 24px;	padding-left : 10px;}
h5.acdn_toggler  { cursor:pointer; }
div.acdn_element	 { padding:0 5px; }


/* --- effects-css3.css --- */

/* http://davidwalsh.name/css-enhancements-user-experience */
::selection
	{ background:#fa8; color:#000; /* Safari and Opera */ }
::-moz-selection
	{ background:#fa8; color:#000; /* Firefox */ } 

/* box */ 
fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
}

select { 
	background: #fff; 
}


.category-list ul li,
.items-more ol li,
.doc_main ol li,
table.category,
input,
select,
fieldset {
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
}
tr.cat-list-row0:hover,
tr.cat-list-row1:hover,
tr.even:hover, 
tr.odd:hover,
.category-list ul li:hover,
.items-more ol li:hover,
.doc_main ol li:hover,
table.category:hover,
input#mod-search-searchword:focus,
.login-fields input#username:focus,
.login-fields input#password:focus,
.profile-edit input:focus,
fieldset {	
	-moz-box-shadow: #888 3px 3px 5px;
	-webkit-box-shadow: #888 3px 3px 5px;
	box-shadow: 3px 3px 5px #888;		
}

.profile-edit input,
.login-fields input,
select,
form fieldset,
fieldset {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left : 3px solid #dd6;
	border-right : 3px solid #dd6;	
}

fieldset:hover label{
	text-shadow: 10px 10px 5px #888;
}

/* CSS3 */
#gototop,
#gloss,
#lay_main .moduletable h3,
.moduletable_text h3,
.moduletable_menu h3,
.moduletable_menu ul.menu li,
.moduletable_menu ul.menu li li 
{
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
}

button,
p.readmore a,
#main_content .pagination li,
table.contenttoc,
table.contenttoc th {
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
}

/* sheet */
table.category,
.sheet table {
	border: 1px solid #CCCCCC;
	padding: 3px;
	width: 98%;
	_width: 760px;
	margin: 0 auto;
}

table.category th,
.sheet th {
	/*text-align: center;*/
	font-weight: bold;
	border-bottom: 1px solid #BBBBBB;
	background: #efefef;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	padding: 2px 4px;
}

table.category th,
.sheet th {
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
}

table.category td,
.sheet td {
	text-align: left;
	padding: 2px 4px;
}

tr.cat-list-row0,
tr.even {
	background: #EFEFEF;
}

tr.cat-list-row1,
tr.odd {
	background: #FFF;
}

tr.cat-list-row0:hover,
tr.cat-list-row1:hover,
tr.even:hover, 
tr.odd:hover { background: #fff966; }

tr.cat-list-row0:hover td,
tr.cat-list-row1:hover td,
tr.even:hover td, 
tr.odd:hover td { border-bottom: 1px dotted #000; }


/* --- admin.css --- */

/* -- admin -- */
#toolbar-box {
	min-width: 500px;
	_width: 97%;
}

#submenu-box ul, #submenu-box ol, #submenu-box li {
	margin : 0;
	padding : 0;
}

#submenu-box ul li {
	text-align : left;
	padding-left : 5px;
	background : url(../images/notmine/li.png) no-repeat 4px 0;
	list-style-image: none;
	border: none;
}
#submenu-box ul li:hover {
	text-align : left;
	padding-left : 5px;
	background : url(../images/notmine/li_hover.png) no-repeat 4px 0;
	list-style-image: none;
	border: none;
}

.m { 
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height:1.3em;
}

.m .button {
	text-align : center;
	font-size : 10px;
	padding : 2px 1px 2px 1px;
	margin : 2px;
	background-repeat:repeat;
	background: #f8fbfd url(../images/notmine/button_bg.png);	
	border : 3px double #e3e3e3;	
}
.m .button:hover {
	background-repeat:repeat;
	border : 3px double #dedfdf;
}

/* --- specific.css --- */

/* -- plugins -- */

/* calendar icon */
div#lay_main td.datetime p { margin: 0;	padding: 0 2px; }	
div#lay_main td.datetime p.top { margin: 0 0 0 3px; }
div#lay_main td.datetime p.day { margin: 2px 0 1px 0px; }
div#lay_main td.datetime p.mon { margin: 4px 0 2px 2px; }

/* -- modules -- */

/* -- components -- */

/* --- menumatic.css --- */

/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* ----[ ie6 ]----*/

* html #subMenusContainer li, * html #menumatic li{
	margin-bottom:-0.99em;
}
* html #subMenusContainer li a{
	position:relative;
}

/* ----[ LINKS ]----*/

/* all menu links */
#menumatic a, #subMenusContainer a{
	text-decoration:none;
	display:block;
	padding:10px 20px;
	/*background-color: #fff; */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#menumatic a {
	color: black;
	background-color: none; /* fix */
	border:1px solid white;
}

#menumatic a ul a {
	border: none;
}
/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#menumatic a{
	margin:0;
	float:left;	
}

/* Just sub menu links */
#subMenusContainer a, #menumatic li li a{
	text-align:left;
}

/* All menu links on hover or focus */
#menumatic a:hover, #menumatic a:focus, #subMenusContainer a:hover, #subMenusContainer a:focus, #menumatic a.mainMenuParentBtnFocused, #subMenusContainer a.subMenuParentBtnFocused{
	background-color:#F6C739 ;
	color:#FFF;
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#menumatic a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused,
#menumatic li a:hover,
#menumatic li a:focus{
	background-color:#F6C739 ;
	color:#FFF;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ 
	background: url(../images/menumatic/arrow_right.gif) right center no-repeat;  
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ 
	background: url(../images/menumatic/arrow_right_over.gif) right center no-repeat;  
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	
	 background: url(../images/menumatic/arrow_down_over.gif) right center no-repeat; 
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{	
	background: url(../images/menumatic/arrow_down_over.gif) right center no-repeat; 
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 2px;
	margin:0 0 0 -2px;
}


/* All ULs and OLs */
#menumatic, #menumatic ul, #menumatic ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* All submenu OLs and ULs */
#menumatic ol, #menumatic ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/	 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background:#fff;	
	border:1px solid #C3D46A;
	left:0;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#menumatic li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	float:left;
}

#subMenusContainer li{
	list-style: none;
}

/* main menu ul or ol elment */
#menumatic {
	display:block;
	position: absolute;
	list-style:none;
	margin:0 0 0 0;
	z-index:5;
	top:75px;
	right: 10px;	
	/*left:50%;*/
	text-align: center;
	display:block;
}

#subMenusContainer{	
	display:block; 	position:absolute;	
	top:0;	left:0;	
	width:100%;	height:0;	
	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#menumatic li li{	float:none; }

#menumatic li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#menumatic li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	margin-top:2.2em;
}

/* third-and-above-level lists */
#menumatic li ul ul { margin: -1em 0 0 -1000em; }
#menumatic li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#menumatic li:hover ul{	margin-left: 0; }
#menumatic li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#menumatic li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#menumatic li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#menumatic li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#menumatic li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#menumatic li:hover a:focus{ margin-left: 0; }
#menumatic li li:hover a:focus + ul { margin-left: 10em; }
